.checkout-container {
  display: flex;
  gap: 100px;

  .checkout-left-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;

      .header-block {
        text-transform: capitalize;
        width: 23%;

        &:last-child {
          width: 10%;
        }
      }
    }
  }

  .checkout-right-container {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    margin: 50px 0;

    .total-checkout-price {
      font-size: 28px;
    }

    .checkout-buttons-container {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      button {
        width: 100%;
      }
    }
  }
}

@media (max-width: 750px) {
  .checkout-container {
    flex-direction: column;
    gap: 30px;

    .checkout-left-container {
      min-height: fit-content;
    }

    .checkout-right-container {
      align-items: flex-end;

      .total-checkout-price {
        margin-top: 0px;
        font-size: 28px;
      }
    }
  }
}

// .checkout-left-container {
// 	width: 100%;
// 	font-size: 12px;

// 	.header-block {
// 		&:last-child {
// 			margin-right: 5px;
// 		}
// 	}

// 	.total-checkout-price {
// 		font-size: 28px;
// 	}
// }
