.cart-dropdown-container {
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 70px;
  right: 0px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 20px auto;
  }

  .cart-items {
    min-width: 335px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .total-cart-price {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  button {
    margin-top: 15px;
  }
}
