.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h2 {
    margin: 10px 0;
  }

  .sign-in-buttons-container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 860px) {
  .sign-in-container {
    width: fit-content;

    .sign-in-buttons-container {
      flex-direction: column;
      gap: 15px;
    }
  }
}
