.cart-dropdown-container {
  position: absolute;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 65px;
  right: -25px;
  z-index: 5;

  .empty-message {
    font-size: 1.2rem;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 500px;
  }

  .total-cart-price {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  button {
    margin-top: 15px;
    width: 100%;
  }
}
