.checkout-item-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid grey;

  .quantity-container {
    display: flex;
    align-items: center;
    column-gap: 10px;

    .item-quantity-button {
      background-color: transparent;
      border: none;
      font-size: x-large;
      font-weight: bold;
    }
  }

  img {
    width: 100%;
  }

  .remove-item-button {
    width: fit-content;
    background-color: transparent;
    border: none;
    font-size: x-large;
    font-weight: bold;
  }
}
