.cart-item-container {
  display: flex;
  margin-bottom: 15px;

  img {
    width: 30%;
    margin: 0;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;

    .name {
      font-size: 1.3rem;
    }
  }
}
